.project-entry {
    display: flex;
    align-items: center;
}

.pe--demo {
    width: 50%;
}

.pe--info {
    width: 50%;
    padding: .5rem;
}

.pe--links, .pe--tech-stack {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 10%;
    gap: 1.5rem;
    padding-left: 0;
    /* list-style: none; */
}

/* Medium Screen Breakpoints */
@media (max-width: 800px) {
    .project-entry {
        display: block;
    }

    .pe--demo {
        width: 100%;
    }

    .pe--info {
        width: 100%;
        padding: 0%;
    }
}

