.project-entry {
    display: flex;
    align-items: center;
}

.pe--info h2, .pe--info h3 {
    margin: 0;
}

.pe--info h3 {
    margin-bottom: .5rem;
}

.pe--info p, .pe--details {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.pe--demo {
    width: 50%;
}

.pe--info {
    width: 50%;
    padding: .5rem;
}

.pe--links {
    list-style: none;
    width: 100%;
    column-gap: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.pe--tech-stack {
    width: 90%;
    margin-left: 10%;
    column-gap: 1.5rem;
    margin-top: .3rem;
}

.pe--links, .pe--tech-stack {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    /* list-style: none; */
}

/* Larger Screen Breakpoint */
@media (max-width: 1400px) {
    .project-entry {
        display: block;
    }

    .pe--demo {
        width: 100%;
    }

    .pe--info {
        width: 100%;
        padding: 0%;
    }
}

