.socials-row {
    width: 100%;
    display: flex;
    align-items: center;
}

.socials-row h2 {
    font-size: 1.3rem;
    margin: .2rem 0rem;
    letter-spacing: 0rem;
}

.socials-row ul {
    width: 100%;
    display: flex;
    height: 1.5rem;
    padding-left: 0rem;
    justify-content: start;
    list-style: none;
    margin: 0;
}

.socials-row li {
    width: 1.5rem;
}

.socials-row img {
    height: 100%;
} 

.socials-row img:hover {
    filter: invert(67%) sepia(88%) saturate(3171%) 
        hue-rotate(207deg) brightness(99%) contrast(87%);
}

/* Small/Mobile Breakpoint */
@media (max-width: 610px) {
    .socials-row ul {
        column-gap: .3rem;
    }
}