.about--header {
    margin-bottom: .2rem;
}

.about--intro {
    display: flex;
    margin-top: 0.3rem;
}

.about--portrait {
    width: 40%;
    object-fit: cover;
}

.about--intro-text {
    width: 60%;
    margin: 0;
    padding-left: 1rem;
}

.about--blurb {
    margin: 0;
    margin-bottom: .5rem;
}

.about--subheader {
    margin-top: 0;
    margin-bottom: .4rem;
}

.about--header:first-of-type {
    margin-top: .5rem;
}

.about--skills {
    width: 95%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: .8rem;
    padding: 0;
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.about--name-date {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.about--name-date h3 {
    margin: 0;
}

.about--bullet-points {
    margin-top: .3rem;
}

/* Targetting the date of the name date */
.about--name-date em {
    text-align: right;
}

.date {
    white-space: nowrap;
}

/* Small/Mobile Breakpoint */
@media (max-width: 610px) {
    .about--portrait, .about--intro-text {
        width: 50%;
    }
}