.about--header {
    margin-bottom: .2rem;
}

.about--subheader {
    margin-top: 0;
    margin-bottom: .4rem;
}

.about--skills {
    width: 95%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: .8rem;
    padding: 0;
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.about--name-date {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.about--name-date h3 {
    margin: 0;
}

/* Targetting the date of the name date */
.about--name-date em {
    text-align: right;
}