:root {
    --lyrics-marquee-bg-color: #e9d184;
    --lyrics-marquee-color: #d49a1b;
}

.lyrics-marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--lyrics-marquee-bg-color,black);
    color: var(--lyrics-marquee-color, white);
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    display: inline-block;
    padding: .3rem 0rem;
}

.lyrics-marquee p {
    margin: 0;
    display: inline-block;
    white-space: pre;
    /* Opted to use useRef in the component to calculate animation time */
    /* animation: marquee 13s linear infinite; */
}

@keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}