footer {
    width: 100%;
    outline: 1px dotted red;
    padding: 1rem .5rem;
}

.footer--credit {
    text-align: center;
    font-size: .65rem;
    font-style: italic;
}

@media (max-width: 610px) {
    footer {
        padding: 1rem 0rem;
        margin: .5rem 0rem;
    }
}