footer {
    width: 100%;
    outline: 1px dotted red;
    padding: .5rem 0rem;
}

.footer--credit {
    text-align: center;
    font-size: .8rem;
    font-style: italic;
}

.footer--marquee {
    width: 100%;
    height: 3rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer--marquee img {
    height: 100%;
}

@media (max-width: 610px) {
    footer {
        padding: 1rem 0rem;
        margin: .5rem 0rem;
    }
}