nav {
    outline: 1px dotted red;
    width: 25%;
    margin: .5rem;
}

.nav--links, .nav--about-links {
    padding-left: 1.4rem;
}

.nav--links li {
    padding-left: 0;
    white-space: nowrap;
}

@media (max-width: 610px) {
    nav {
        width: 100%;
        margin: 0;
        margin-top: 0.5rem;
    }

    .nav--section-header {
        display: none;
    }

    .nav--about-links {
        padding-left: 0rem;
    }

    .nav--links, .nav--about-links {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        flex-wrap: wrap;
    }
}