:root {
    --top-btn-bg-color: #e95353;
    --top-btn-color: #fafafa;
    --top-btn-opactity: 0.8;
    --top-btn-offset: 3rem;
}

.top-btn {
    background-color: var(--top-btn-bg-color, red);
    color: var(--top-btn-color, white);
    opacity: var(--top-btn-opactity, 0.5);
    text-decoration: none;
    font-size: 1rem;
    padding: .3rem .5rem;
    border-radius: .3rem;
    position: fixed;
    right: calc(20% - var(--top-btn-offset));
    /* bottom: 1rem; */
}

.top-btn:hover {
    opacity: 1;
}

/* Large Screen Breakpoint */
@media (max-width: 1080px) {
    .top-btn {
        right: calc(10% - var(--top-btn-offset));
    }
}

/* Small/Mobile Breakpoint */
@media (max-width: 610px) {
    .top-btn {
        right: 1rem;
    }
}