:root {
    --top-btn-bg-color: #e95353;
    --top-btn-color: #fafafa;
    --top-btn-opactity: 0.8;
    --top-btn-offset: 3rem;
    --top-btn-width: 1.5rem;
}

.top-btn {
    width: var(--top-btn-width, 2rem);
    background-color: var(--top-btn-bg-color, red);
    color: var(--top-btn-color, white);
    opacity: var(--top-btn-opactity, 0.5);
    text-decoration: none;
    font-size: 1rem;
    padding: .5rem .75rem;
    border-radius: .3rem;
    position: fixed;
    /* 
     * Right attribute determined by space consumed by the site's main
     * container. (See App.css for these specific sizes at the various
     * breakpoints)
     */
    right: calc(12.5% - var(--top-btn-offset));
    /* 
     * Bottom implemented in component file as an exercise in using useRef to make
     * the component exhibit sticky position behaviour while still applying
     * the fixed position to it in css
     */
    /* bottom: 1rem; */
}

.top-btn:hover {
    opacity: 1;
    font-weight: 900;
}

/* Large Screen Breakpoint */
@media (max-width: 1080px) {
    .top-btn {
        right: calc(10% - var(--top-btn-offset));
    }
}

/* Small/Mobile Breakpoint */
@media (max-width: 610px) {
    .top-btn {
        right: 1rem;
    }
}