.container {
  width: 60vw;
  /* border: 1px dotted red; */
}

.main-row {
  display: flex;
}

.page-content {
  padding: 0.5rem 1rem;
}

main {
  width: 75%;
  margin: .5rem;
  outline: 1px dotted red;
}

/* Misc. Elements */
.title {
  padding-left: .5rem;
  font-weight: bold;
  border: 1px dotted red;
}

/* Large Screen Breakpoint */
@media (max-width: 1080px) {
  .container {
    width: 80vw;
  }
}

/* Medium Screen Breakpoint */
@media (max-width: 800px) {
  .container {
    width: 90vw;
  }
}

/* Small Screen Breakpoint */
@media (max-width: 610px) {
  .container {
    width: 100%;
  }

  .main-row {
    display: flex;
    flex-direction: column;
  }

  main {
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
  }
}
