:root {
  --primary-bg-color: #ffffff;
  --outline-style: 0.0625rem solid #dba226;
  --title-color: #fafafa;
  --title-gradient: linear-gradient(180deg, #8a8aee 41%, #316fa5 59%)
}

.container {
  width: 75vw;
  /* border: 1px dotted red; */
}

.main-row {
  display: flex;
}

.page-content {
  padding: 0.5rem 1rem;
}

main {
  width: 85%;
  margin: .5rem;
  outline: var(--outline-style);
  background-color: var(--primary-bg-color, white);
}

/* Misc. Elements */
.title {
  padding-left: .5rem;
  font-weight: bold;
  outline: var(--outline-style);
  color: var(--title-color, white);
  background: var(--title-gradient);
}

/* Large Screen Breakpoint */
@media (max-width: 1080px) {
  .container {
    width: 80vw;
  }

  main {
    width: 75%;
  }
}

/* Medium Screen Breakpoint */
@media (max-width: 800px) {
  .container {
    width: 90vw;
  }
}

/* Small Screen Breakpoint */
@media (max-width: 610px) {
  .container {
    width: 100%;
  }

  .main-row {
    display: flex;
    flex-direction: column;
  }

  main {
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
  }
}
