/* :root {
    --lg-screen-sz: 992px;
    --md-screen-sz: 768px;
    --sm-screen-sz: 576px;
} */

html {
    margin: 0;
    min-width: 350px;
}

body {
    margin: 0;
    font-family: "MS Gothic", "Gothic A1", sans-serif;
    background-image: url(./assets/stars-and-clouds.jpg);
    background-size: auto 100vh;
    background-repeat: repeat-x;
}

#root {
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


h1, h6 {
    margin: 0;
}

p {
    margin-top: .3rem;
}

a:hover {
    font-style: italic;
}